/*Axis formatting*/
.axis {
    fill: black;
    font: 11px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    shape-rendering: crispEdges;
    stroke-width: 1px;
}

g.tick line {
    color: black;
}

g.tick text {
    font-size: 10pt;
}

g.legend rect {
    stroke: #5e5e5e;
    stroke-width: 1px;
}

/*Chart grid formatting*/
.grid line {
    stroke: lightgrey;
    stroke-opacity: 0.7;
    shape-rendering: crispEdges;
}

.grid path {
    stroke-width: 0;
}

/* Select option styling */
.chart-selector {
    padding-bottom: 0.5em;
}

/* Tooltip formatting */
#tooltip-box {
    display: inline-block;
    height: 7em;
    position: relative;
    width: 100%;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
}